/* Styles Everything */
* {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
* html {
  margin: 0;
}
/* Styles Body */
body {
  background-color: lightblue;
}
/* Styles Horizontal Lines */
hr {
  border: 1px groove lightblue;
}
/* Styles Family Information Form Container, Instructions, Labels and Inputs, Error Messages, and Submit Button */
.FamilyInfo {
  display: flex;
  background-color: #fff;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border: 2px groove lightblue;
  width: 500px;
  height: 800px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.FamilyInfo form {
  margin: auto;
  flex-direction: column;
}
.FamilyInfo form p {
  margin-top: 20px;
}
.FamilyInfo form input,
.FamilyInfo form label {
  font-size: 100%;
  display: block;
}
.FamilyInfo form label {
  font-weight: bold;
  color: black;
  margin-top: 5px;
}
.FamilyInfo form input {
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 2px;
  margin-top: 10px;
  width: 400px;
  height: 50px;
  border: 1px inset silver;
  text-indent: 5px;
}
.FamilyInfo form input:hover {
  cursor: pointer;
}
.FamilyInfo form input:active {
  border: 1px groove rgba(15, 46, 78, 0.84);
  outline: none;
}
.FamilyInfo form input:focus {
  border: 1px groove rgba(15, 46, 78, 0.84);
  outline: none;
}
.FamilyInfo form .error {
  font-size: 16px;
  color: red;
  font-weight: bold;
  visibility: hidden;
  margin-bottom: 2px;
  margin-top: 2px;
}
.FamilyInfo form #Submit {
  margin-top: 15px;
  background-color: cadetblue;
  color: white;
  border: 1px inset cadetblue;
  font-weight: bold;
  font-size: 1.5em;
}
.FamilyInfo form #Submit:hover {
  background-color: rgba(15, 46, 78, 0.84);
}
